<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отделы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<form action="/Manager/">
    <button type="submit">Перейти в панель менеджера</button>
</form>
<h3 align="center">Добавление Отдела</h3>
<form action="/Departments/add" method="post" th:object="${Department}">
    <div align="center">
        <input type="text" name="Name_Departments" placeholder="Введите название отдела" required>
        <button class="btn btn-success" type="submit">Добавить Отдел</button>
    </div>
</form>
<b><p th:text="${message}" style="color: red"></p></b>
<h2>Список всех отделов</h2>
<ul>
    <th:block th:each="d:${Departments}">
        <li>
            <span th:text="${d.name_Departments}"></span>
            <form action="#" th:action="@{/Departments/update/{id}(id=${d.id})}" method="post" th:object="${d}" style="display: inline;">
                <input type="hidden" name="id" th:value="${d.id}">
                <input type="text" name="Name_Departments" placeholder="Введите название отдела" required>
                <button class="btn btn-warning" type="submit">Обновить</button>
            </form>
            <form action="#" th:action="@{/Departments/delete/{id}(id=${d.id})}" method="post" style="display: inline;">
                <input type="hidden" name="id" th:value="${d.id}">
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
        </li>
        <br>
    </th:block>
    <b><p th:text="${up_message}" style="color: red"></p></b>
</ul>
</body>
</html>